.parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 280px 600px;
    gap: 5px;
}

.child{
    height: 100px;
    width: 150px;
}
.child:hover {
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.5);
}

img{
    border-radius: 7px;
}
